# **Preparing Environment**

In [ ]:
import json
import random
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from google.colab import drive

# **Create Dummy and Save It to JSON File**

In [ ]:
# membuat list kosong untuk menampung data
data_list = []

# membuat data
for i in range(1):
    data = {
        "EXT1": random.randint(1,5),"EXT2": random.randint(1,5),"EXT3": random.randint(1,5),"EXT4": random.randint(1,5),"EXT5": random.randint(1,5),"EXT6": random.randint(1,5),"EXT7": random.randint(1,5),"EXT8": random.randint(1,5),"EXT9": random.randint(1,5),"EXT10": random.randint(1,5),
        "EST1": random.randint(1,5),"EST2": random.randint(1,5),"EST3": random.randint(1,5),"EST4": random.randint(1,5),"EST5": random.randint(1,5),"EST6": random.randint(1,5),"EST7": random.randint(1,5),"EST8": random.randint(1,5),"EST9": random.randint(1,5),"EST10": random.randint(1,5),
        "AGR1": random.randint(1,5),"AGR2": random.randint(1,5),"AGR3": random.randint(1,5),"AGR4": random.randint(1,5),"AGR5": random.randint(1,5),"AGR6": random.randint(1,5),"AGR7": random.randint(1,5),"AGR8": random.randint(1,5),"AGR9": random.randint(1,5),"AGR10": random.randint(1,5),
        "CSN1": random.randint(1,5),"CSN2": random.randint(1,5),"CSN3": random.randint(1,5),"CSN4": random.randint(1,5),"CSN5": random.randint(1,5),"CSN6": random.randint(1,5),"CSN7": random.randint(1,5),"CSN8": random.randint(1,5),"CSN9": random.randint(1,5),"CSN10": random.randint(1,5),
        "OPN1": random.randint(1,5),"OPN2": random.randint(1,5),"OPN3": random.randint(1,5),"OPN4": random.randint(1,5),"OPN5": random.randint(1,5),"OPN6": random.randint(1,5),"OPN7": random.randint(1,5),"OPN8": random.randint(1,5),"OPN9": random.randint(1,5),"OPN10": random.randint(1,5)
    }
    # menambahkan data ke dalam list
    data_list.append(data)

# membuka file baru dengan mode write
with open('file.json', 'w') as f:
    # menuliskan data ke file JSON
    json.dump(data_list, f)

# **Load JSON File**

In [ ]:
with open('file.json') as f:
    data = json.load(f)

# Mengubah dictionary menjadi DataFrame dan mengubah orientasi DataFrame menjadi format yang diinginkan
df = pd.DataFrame(data)
df.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
0,5,3,5,4,1,3,3,3,4,5,...,3,3,2,1,4,5,3,4,2,1

# **Preprocessing Data**

In [ ]:
# define the columns to modify
cols_to_modify = ['EXT2','EXT4','EXT6','EXT8','EXT10',
                  'EST2','EST4',
                  'AGR1','AGR3','AGR5','AGR7',
                  'CSN2','CSN4','CSN6','CSN8',
                  'OPN2','OPN4','OPN6','OPN9']

# apply the transformation to each value in the specified columns
df[cols_to_modify] = df[cols_to_modify].apply(lambda x: 6 - x)

# print the updated dataframe
df.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
0,5,3,5,2,1,3,3,3,4,1,...,3,3,2,5,4,1,3,4,4,1

In [ ]:
# create new columns
df['EXT'] = df.filter(regex='EXT\d+').sum(axis=1)
df['EST'] = df.filter(regex='EST\d+').sum(axis=1)
df['AGR'] = df.filter(regex='AGR\d+').sum(axis=1)
df['CSN'] = df.filter(regex='CSN\d+').sum(axis=1)
df['OPN'] = df.filter(regex='OPN\d+').sum(axis=1)

In [ ]:
df = df.iloc[:, 50:]
df = df.apply(lambda x: (x - 10) / 40)
df.head()

   EXT   EST    AGR   CSN  OPN
0  0.5  0.25  0.375  0.65  0.5

In [ ]:
# Save result from dataframe to variables
ext = df.iloc[0]['EXT']
est = df.iloc[0]['EST']
agr = df.iloc[0]['AGR']
csn = df.iloc[0]['CSN']
opn = df.iloc[0]['OPN']

In [ ]:
sums = df.iloc[0]
percentages = [round((x/sums.sum())*100, 2) for x in sums]

# Save the percentages for each column to variables
per_ext = percentages[0]
per_est = percentages[1]
per_agr = percentages[2]
per_csn = percentages[3]
per_opn = percentages[4]

# **Print The Output**

In [ ]:
print(f'Extraversion : {ext*100}%')
print(f'Neurotic : {est*100}%')
print(f'Agreeable : {agr*100}%')
print(f'Conscientious : {csn*100}%')
print(f'Openess : {opn*100}%')

Extraversion : 50.0%
Neurotic : 25.0%
Agreeable : 37.5%
Conscientious : 65.0%
Openess : 50.0%